<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Словарь</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
</head>
<body>

<h1 th:value="${dictionaryName}" th:text="'&#171;' + ${dictionaryName} + '&#187;'"></h1>
<div class="words">
    <a th:href="@{/}" class="btn btn-success" style="margin-left: 15px"><--- Назад</a>
    </br>
    </br>
    <div class="wordContainer" th:each="note : ${notes}">
        <form action="#"
              th:action="@{/deleteWord}"
              th:method="DELETE">
            <input type="hidden" name="_method" value="delete"/>
            <input hidden="hidden" type="text" name="dictionaryId" th:value="${dictionaryId}">
            <input hidden="hidden" type="text" name="deletedNoteId" th:value="${note.getId()}">
            <button class="btn btn-danger" type="submit" id="delete">x</button>
        </form>

        <form action="#" th:action="@{/openEditor}"
              th:method="GET">
            <input hidden="hidden" type="text" name="dictionaryId" th:value="${dictionaryId}">
            <input hidden="hidden" type="text" name="editedNoteId" th:value="${note.getId()}">
            <button class="btn btn-success" type="submit" id="edit">edit</button>
        </form>
        <p style="list-style-type: none" th:text="|${note.word} - ${note.definition}|"></p>
    </div>
</div>

<div class="forms rightBorder">
    <h1>Добавить слово</h1>
    <div class="formContainer">
        <form th:method="POST"
              th:action="@{/addWord}">
            <input hidden="hidden" type="text" name="dictionaryId" th:value="${dictionaryId}">
            <label for="word">Введите слово:</label>
            <input th:pattern="${validator}" th:required="true" type="text" id="word" th:name="word">
            </br>
            <label for="def">Введите определение:</label>
            <input th:required="true" type="text" id="def" th:name="definition">
            </br>
            <input type="submit" value="Добавить">
        </form>
    </div>

    <h1>Искать определение</h1>
    <div class="formContainer">
        <form
                th:method="GET"
                th:action="@{/findDefinition}">
            <input hidden="hidden" type="text" name="dictionaryId" th:value="${dictionaryId}">
            <label for="searchedWord">Введите слово:</label>
            <input th:required="true" type="text" th:name="searchedWord" th:value="${searchedWord}"
                   id="searchedWord">
            </br>
            <label for="foundDefinition">Определение:</label>
            <input readonly th:name="foundDefinition" th:value="${foundDefinition}" id="foundDefinition">
            </br>
            <input type="submit" value="Поиск">
        </form>
    </div>

    <h1>Искать слово по определению</h1>
    <div class="formContainer">
        <form
                th:method="GET"
                th:action="@{/findWord}">
            <input hidden="hidden" type="text" name="dictionaryId" th:value="${dictionaryId}">
            <label for="allDictionaries">Искать во всех словарях:</label>
            <input type="checkbox" name="allDictionaries" id="allDictionaries">
            </br>
            <label for="searchedDefinition">Введите определение:</label>
            <input th:required="true" type="text" th:name="searchedDefinition" th:value="${searchedDefinition}"
                   id="searchedDefinition">
            </br>
            <label for="foundWords">Слова:</label>
            <input readonly th:name="foundWords" th:value="${foundWords}" id="foundWords">
            </br>
            <input type="submit" value="Поиск">
        </form>
    </div>
</div>

<div class="block art" id="exampleModalCenter" th:hidden="${!isEditionFormOpened}">
    <h1>Редактирование</h1>
    <form th:action="@{/edit}" th:method="POST">
        <input hidden="hidden" type="text" name="dictionaryId" th:value="${dictionaryId}">
        <input hidden="hidden" type="text" name="editedNoteId" th:value="${editedNoteId}">
        <label for="editedWord">Слово</label>
        <input th:pattern="${validator}" type="text" name="editedWord" id="editedWord" th:value="${editedWord}"
               th:title="${validator}">
        <label for="editedDefinition">Определение</label>
        <input type="text" name="editedDefinition" id="editedDefinition" th:value="${editedDefinition}">
        </br>

        <div class="button_holder">
            <button name="action" value="save" type="submit" class="btn btn-primary">
                Сохранить
            </button>
            <button name="action" value="cancel" type="submit" class="btn btn-primary">
                Отмена
            </button>
        </div>
    </form>
</div>
</body>
</html>