<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Словарный менеджер</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
</head>
<body>
<h1>Добро пожаловать в Словарный менеджер!!</h1>
<p class="subheader">Выберите словарь из списка ниже:</p>
<div class="block">
    <label>
        <select th:onchange="'window.location.href = \'' + @{/dictionary} + '/\' + this.value ' ">
            <option value="0">Словари</option>
            <option th:each="d : ${dictionaries}" th:text="${d.getTitle()}" th:value="${d.getId()}"></option>
        </select>
    </label>
</div>
</body>
</html>